.view-button {
  width: 125px;
  color: #59e1b4;
}

.postpone-button {
  width: 125px;
  color: #dd9209;
}

.resume-button {
  width: 125px;
  color: rgb(1, 151, 1);
}

.delete-button {
  width: 125px;
  color: #ff3838;
}

.done-button {
  width: 125px;
  color: #bbbbf7;
}
